<div style="display: flex; height: 100%; position: relative;">
  <button color="primary" mat-mini-fab [@popOverState]="getStateName()" (click)="onClick()">
    <mat-icon *ngIf="isOpened()">chevron_left</mat-icon>
    <mat-icon *ngIf="!isOpened()">chevron_right</mat-icon>
  </button>

  <app-aside-left-main-menu [events]="eventsSubject.asObservable()" (selectedMainMenu)="selectedMainMenu($event)">
  </app-aside-left-main-menu>

  <mat-sidenav-container [hasBackdrop]="false" class="h-100 w-100">
    <mat-sidenav [mode]="modeSide" #sidenav opened="true" style="min-width: 300px;" class="shadow_right" autosize>
      <app-aside-left-menu [selectMainMenuValue]="selectedMainMenuSubject.asObservable()"
        (selectedRouteText)="selectedRouteText($event)">
      </app-aside-left-menu>
    </mat-sidenav>
    <mat-sidenav-content>
      <app-navbar [headerTextObs]="headerTextSubject.asObservable()" (changeToggle)="changeToggle($event)"></app-navbar>
      <div>
        <div style="padding: 20px;">
          <mat-card class="contentScrool"
            [style]="'height:'+contentHeight+'px;max-height:'+contentHeight+'px;overflow: auto;'">
            <router-outlet></router-outlet>
            <div style="height: 100vh;">rafi</div>
          </mat-card>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>